<!DOCTYPE html>
<html>

<head>
    <title>HealthPOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

    <div class="card">
        <div class="col">
            <img class="logo"
                src="https://res.cloudinary.com/dyf0aokyn/image/upload/v1764984414/health_poc_logo_itsiea.png"
                alt="Health POC Logo" />
            <div class="header">
                <div class="avatar">
                    <img src="<%= user.picture %>" alt="<%= user.name %> Avatar" />
                </div>
                <h1>
                    <small>Welcome</small>
                    <%= user.name %>!
                </h1>
            </div>
            <hr />
            <p class="attr"><small>Email:</small> <%= user.email %>
            </p>
            <p class="attr"><small>Patient ID:</small> <%= user.emrId %>
            </p>
        </div>
        <div class="col">
            <div class="fallback">You have no outstanding learning modules, tasks or forms.</div>
        </div>
    </div>
</body>

</html>
